{% extends 'posts/base1.html' %}
{% load crispy_forms_tags %}


{% block content%}

<div class="container">
    <form method="POST" class="border p-5 bg-white">
        {% csrf_token %}
        <h2 class="mb-4 text-center">
            Login
        </h2>
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-dark text-white" type="submit">Log In</button>
        </div>
    </form>
    <div class="border my-3 py-2 px-2 bg-white">
        <small>
            Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
        </small>
    </div>

</div>
{% endblock content %}