{% extends 'posts/base1.html' %}
{% load crispy_forms_tags %}


{% block content%}
<div class="container">
    <a href="{% url 'home'%}" class="btn btn-dark mb-3 ms-4">Home</a>
    <div class="card p-4">
        <h3 class="text-center">Change Your profile</h3>
        <!-- update form -->
        <section>
            <form method="POST" class="border p-5" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-info text-white" type="submit">Update</button>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock content %}